@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
  width: 100%;          /* 100 */
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 auto;   /* 20px */
  border: 2px solid lightblue;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #333;
}

h1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 21px;
}

nav {
  width: 100%;
  /* max-width: 1500px; */
  display: flex;
  justify-content: space-between;
  background-color: #110955;             /* #8782b9; */ /* #110955;*/
  padding: 10px 0;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

.row {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 12px;
    /* border: 2px solid lightblue; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

.button {
    cursor: pointer;
}

b {
    color:#c56cbb
}

label {
    overflow: hidden;
}

input:hover, textarea:hover {
    border-color: rgb(255, 98, 0);;
}

input:focus, textarea:focus {
    border-color: #7ee80c;
}

textarea {
    overflow: auto;
}

/* NAVIGATION */

.nav__logo {
    display: flex;
    width: 17%;
    margin-left: 20px;
}

.nav__link--list {
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 20px;
}

.nav__link {
    display: flex;
    align-items: center;
    margin: 26px;
    /* border: 1px solid red; */
}

.nav__link--anchor {
    color: black;
    font-size: 21px;
    font-weight: 500;
    flex-direction: row;
    /* border: 4px solid red; */
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.click {
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.click:hover {
    transform: scale(1.2);
}

.click:active {
   transform: scale(0.1);
}

.link__hover-effect--black {
    color: white;
    /* text-decoration: none; */
}

.nav__link--primary {
    width: 100%;
    padding: 10px 27px;
    background-color: #ffe41b;
    border-radius: 12px;
    border: none;
    font-size: 21px;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.nav__link--one {
   font-size: 21px;
   font-weight: 500;
   text-decoration: none;
   color: white;
   margin-right: -12px;
   margin-left: 80px;
}
.nav__link--primary:hover {
    background-color: #d4a70c;
    color: white;
    transition: all 300ms ease-in;
}

.link__hover-effect--black:hover::after {
    transform: scaleX(1);
    transform-origin: top left;
}

/* HEADER */

.contaniner {
  width: 100%;
  /* max-width: 1500px; */
  /* max-width: 1200px; */
} 

.header__title {
    display: inline-block;
    text-align: center;
    margin-top: 200px;
}

.header__title--main {
    font-size: 80px;
    font-weight: 700;
    color: #110955;
    font-family: arial narrow, sans-serif;
}

.inves-color {
    padding: 0px 12px;
    border: 2px solid black;
    background-color: #c385d8;
    color: white;
    border-radius: 12px;
    font-style: italic;
}

.inves-para {
    line-height: 1.2;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #110955;
}

.btn__investors {
 text-align: center;
 margin-top: 34px;
}

.btn__one {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 12px;
    padding: 20px;
    background-color: #ffe41b;
    border-radius: 10px;
    font-size: 23px;
    font-style: italic;
   
}

.btn__inves-one {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 12px;
    padding: 20px;
    background-color: white;
    border: 4px solid #110955;
    border-radius: 10px;
    font-size: 23px;
    font-style: italic;
}

.btn__one:active {
    opacity: 0.3;
}

.btn__one:hover {
    color: white;
    background-color: #d4a70c;
    transition: all 300ms ease-in;
} 

.btn__inves-one:hover {
    color: rgb(144, 22, 206);
    transition: all 300ms ease-in;
}

.inves__star {
    position: relative;
    right: 1%;
}

/* MAIN INVES HOUSE */

.inves__home {
   text-align: center;
   margin-top: 120px;  
}

.header__two-house {
   font-size: 80px;
   color: #110955;
   font-family: arial narrow, sans-serif;
}

.invest-para {
    font-size: 35px;
    font-weight: 500;
    margin-top: 9px;
    color: #110955;
}

/* CARD INVEST */

/* .contaner {
    width: 100%;
    max-width: 2200px;
} */

.card__invested {
    display: flex;
    margin-top: 60px;
    /* border: 4px solid rgb(14, 1, 1); */
    width: 100%;
    max-width: max-content;
}


.card__home { 
    margin: 24px;
    /* border: 4px solid green; */
}

.card__home-image {
    width: 100%;
    display: flex;
    border: 4px solid #1c0080;
    /* position: relative; */
    margin-top: 23px;
}

.image__home {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.description__title {
    border: 2px solid black;
    text-align: center;
    /* position: absolute; */
}

.title-one {
    font-size: 40px;
}

.title-two {
    font-size: 25px;
    margin-top: 11px;
}

.para__invesment {
    /* width: 40%; */
    font-size: 30px;
    margin-top: 11px;
    line-height: 1.5;
}

/* CONSTRUCTION HOUSING */

.construction {
    display: block;
    margin: 0;
    padding: 0;
}

.construction__house {
    display: block;
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 120px;
    line-height: 1.3;
}

.feature__construction-one {
    font-size: 8rem;
    font-family: arial narrow, sans-serif;
    color: #110955;
}

.para__construction-two {
    font-size: 3.8rem;
    font-weight: 500;
    color: #110955;
}

/* CONTACT FORM */

.projects__form {
    width: 100%;
    margin: 50px auto 0;
    padding: 40px;
    border: 2px solid #110955;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.form__contact {
    font-size: 3rem;
    color: #1b1919;
    font-style: italic;
    margin-bottom: 35px;
}

.inves__form-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}

.form__field {
    width: 100%;
}

.form__field label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.9rem;
    font-weight: 500;
    color: #110955;
    text-align: left;
}

.form__field input {
    width: 100%;
    height: 50px;
    padding: 10px 15px;

    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;

    border: none;
    border-bottom: 2px solid #110955;
    outline: none;

    background-color: transparent;

    transition: border-color 0.2s ease;
}

.form__field input:focus {
    border-bottom: 3px solid #c385d8;
}

.form__field input::placeholder {
    color: #a29f9f;
}

/* Submit button */

.form__submit {
    grid-column: 1 / -1;

    width: 200px;
    margin: 10px auto 0;
    padding: 14px 30px;

    background-color: #ffe41b;
    color: #110955;

    border: none;
    border-radius: 10px;

    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.3s ease,
        transform 0.2s ease;
    position: relative;
    right: 44%;
    margin-top: 20px;
}

.form__submit::after {
    content: "\2192";
    /* border: 2px solid red; */
    margin-left: 9px;
    
}

.form__submit:hover {
  background-color: #d4a70c;
  color: white;
  transform: translateY(-2px);
}

textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* resize: vertical; */
    width: 100%;
    font-size: 23px;
    border-radius: 5px;
    margin-top: 1.2rem;
}

.form__field input:focus {
    border-color: #35189d;
}

.form__field input:hover {
    border-color: rgb(255, 98, 0);
}

.form__field textarea {
    resize: vertical;
}

.form__bottom {
    display: flex;
    text-align: left;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 86%;
    bottom: 15%
}

.contruction-build {
    margin-top: 40px;
    width: 70%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.contruction-build:hover {
    opacity: 0;
    position: absolute;
}

.image__plan-house:hover {
   box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
   opacity: 1;
}

.description__contruction-house {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.funiture__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 90%; */
    opacity: 0;
}

.image__plan-house:hover, .funiture-plans {
    opacity: 1;
}

.funiture-plans {
    position: relative;
    top: 50%;
}

.funiture-plans:hover {
    opacity: 1;
}

.description__para:hover {
    opacity: 1;
    z-index: 100;
}

.description__para {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  /* width: 90%; */
  opacity: 0;
}